<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Main Layout</title>
</head>
<body>
<div id="app">
    <header>
        {{> header}}
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        {{> footer}}
    </footer>
</div>
</body>
</html>
